body
{
    font-family: Helvetica, sans-serif;

    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background: #7b4397;
    background: linear-gradient(30deg, #7b4397, #dc2430);

    color: #eeeeee;
}

#linksBox
{
    color: #eeeeee;
    font-size: 2em;
    position: fixed;
    top: 32%;
    left: 10%;
    width: 300px;
}

#heading
{
    font-size: 6em;

    position: fixed;
    top: 10%;
    left: 20%;

    text-align: center;
}

#contentBox
{
    position: fixed;
    top: 44%;
    left: 40%;
    width: 300px;
}

#contentBox table th
{
    font-size: 1.5em;
    padding: 20px;
    text-align: left;
    background-color:rgba(0,0,0,0.3);
}

#contentBox table td
{
    font-size: 1em;
    padding: 20px;
    background-color:rgba(192,192,192,0.3);
}

#contentHeading
{
    font-size: 3em;

    position: fixed;
    top: 32%;
    left: 40%;

    text-align: center;
}

input
{
    font-size: 1.2em;
    height: 30px;
    width: 300px;
    margin-bottom: 10px;
}

/* unvisited link */
a:link {
    color: #eeeeee;
    text-decoration: none;    
}

/* visited link */
a:visited {
    color: #eeeeee;
    text-decoration: none;    
}

/* mouse over link */
a:hover {
    color: #eeeeee;
    text-decoration: none;    
}

/* selected link */
a:active {
    color: #eeeeee;
    text-decoration: none;    
}